body {
    background-color: rgb(33, 33, 33);
  }
  h1 {
    color: rgb(220, 220, 220);
    font-family: sans-serif;
  }
  p {
    color: rgb(220, 220, 220);
    font-family: 'Segoe UI';
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 30px;
    font-size: 18.4px;
    line-height: 27.6px;
  }
  img {
      height: 170px;
      width: 150px;
  }

  .image {
    position: relative;
    animation-name: logo;
    animation-duration: 10s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
  }

  @keyframes logo {
    0%   {left:200px; top:0px;}
    50%  {left:850px; top:0px}
    100% {left:200px; top:0px}
  }

  li {
    display: inline;
    float: left;
  }

  ul {
    display:inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(43, 43, 43);
    margin-left:200px;
    margin-right:200px;
    align-content: center;
  }

  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-family: sans-serif;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  